<div class='fields-modal-tmplate'>
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">{{modalInfo.title}}</h3>
        <button class="btn btn-warning pull-right" type="button" ng-click="cancel()">Cancel</button>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="form-group">
                <label for="name" class="control-label">Title (*): </label>
                <input type="text" class="form-control" ng-model="task.title" />
            </div>
            <div class="form-group">
                <label for="description" class="control-label">Description (*): </label>
                <textarea class="form-control" rows="3" cols="25" ng-model="task.description"></textarea>
            </div>
            <div class="form-group">
                <label class="control-label">Tags: </label>
                <input type="text" class="form-control" ng-model="task.tags" />
            </div>
            <div class="form-group">
                <label class="control-label">Due Date (*): </label>
                <input type="date" class="form-control" ng-model="tasks.due_date">
            </div>
        </div> 
        <div class="clearfix"></div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="saveTask()">{{modalInfo.btnText}}</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>
