<div class="card">
    <form editable-form name="editableForm" onaftersave="updateCategory()">
        <h4 editable-text="category.name" class="pull-left">
            {{category.name}}
        </h4>
        <button class="btn btn-danger btn-sm pull-right" type="button" ng-click="deleteCategory()">
            <i class="fa fa-trash"></i>
        </button>
        <button ng-if="!editableForm.$visible" type="button" ng-click="editableForm.$show()" class="btn btn-info btn-sm pull-right">
            <i class="fa fa-pencil"></i>
        </button>
        <button class="btn btn-danger btn-sm pull-right" ng-if="editableForm.$visible" ng-click="editableForm.$cancel()">
            <i class="fa fa-times"></i>
        </button>
        <button class="btn btn-sm pull-right" ng-if="editableForm.$visible">
            <i class="fa fa-check"></i>
        </button>
    </form>
    <div class="clearfix"></div>
</div>
<div class="card">
    <h4 class="pull-left">
        Tasks
    </h4>
    <button class="btn btn-primary pull-right" ng-click="createTask()">
        <i class="fa fa-plus"></i> New Task
    </button>
    <table class="table table-brdered">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Title
                </th>
                <th>
                    Description
                </th>
                <th>
                    Due Date
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="task in category.tasks">
                <td>
                    {{task.task_id}}
                </td>
                <td>
                    {{task.title}}
                </td>
                <td>
                    {{task.description}}
                </td>
                <td>
                    {{ task.toNow }}
                </td>
                <td>
                    <button class="btn btn-info btn-sm" ng-click="updateTask(task)">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-danger btn-sm" ng-click="deleteTask(task.task_id,$index)">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>