.categories-list{
    color: white;
    .title{
        text-align: center;
    }

    a{
        display: inline-block;
        width: 100%;
        text-decoration: none;
        padding: 10px;
        color: white;

        &:hover{
            border-left: 3px solid #015b9d;
            background-color: #d0d0d0;
            color: black;
        }
    }
}