<div class="categories-list">
    <p class="title">
        Categories
    </p>
    <p>
        <button class="btn btn-block btn-info" ng-click="createCategory()">
            <i class="fa fa-plus"></i> Create Category
        </button>
    </p>
    <a ng-repeat="category in categories" href="#!categories/{{category.category_id}}" class="category-list-item">
        {{category.name}}
    </a>
</div>