<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To Do List</title>

	<!--build:css ./css/styles.min.css-->
	<link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css"> 
	<link rel="stylesheet" href="../bower_components/angular-notify/dist/angular-notify.min.css"> 
    <link rel="stylesheet" href="../bower_components/angular-bootstrap/ui-bootstrap-csp.css" rel="stylesheet">  
	<link rel="stylesheet" href="../bower_components/angular-xeditable/dist/css/xeditable.min.css" rel="stylesheet"> 
	<link rel="stylesheet" href="../bower_components/sweetalert/dist/sweetalert.css">
    <link href="css/style.css" rel="stylesheet">
    <!--endbuild-->
    
	<!--build:js ./js/angular.min.js -->
	<script src="../bower_components/angular/angular.min.js"></script>
	<script src="../bower_components/angular-animate/angular-animate.min.js"></script>
	<script src="../bower_components/angular-route/angular-route.min.js"></script>
	<script src="../bower_components/angular-touch/angular-touch.min.js"></script>
	<script src="../bower_components/angular-filter/dist/angular-filter.min.js"></script>
    <!-- endbuild -->
    
	<!--build:js ./js/libs.min.js -->
	<script src="../bower_components/angular-notify/dist/angular-notify.min.js"></script>
	<script src="../bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
	<script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script src="../bower_components/angular-xeditable/dist/js/xeditable.js"></script>
	<script src="../bower_components/moment/min/moment.min.js"></script>
	<script src="../bower_components/angular-moment/angular-moment.min.js"></script>
	<script src="../bower_components/underscore/underscore-min.js"></script>
	<script src="../bower_components/sweetalert/dist/sweetalert.min.js"></script>
	<script src="../bower_components/ngSweetAlert/SweetAlert.js"></script>
	<!-- endbuild -->

	<!--build:js ./js/app.min.js -->
	<script src="js/app.module.js"></script>
	<script src="js/app.routes.js"></script>
	<script src="js/app.filters.js"></script>
	<script src="js/app.services.js"></script>
	<script src="js/app.directives.js"></script>
	<script src="js/app.controllers.js"></script>
    <!-- endbuild -->
    
</head>
<body ng-app="toDoList">
	<div ng-if="isLoading > 0" class="loading-bar">
		<div class="loading">

		</div>
	</div>
    <div class="sidebar">
		<categories-list></categories-list>
	</div>
    <div class="main-content">
		<div ng-view></div>
	</div>
	
	<!--build:js ./js/footer.min.js -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<!--endbuild-->

	<!--build:css ./css/footer.min.css-->
	<link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css"></link>
	<!--endbuild-->
	
	<!-- inject: app.views.html-->
</body>
</html>