.main-content{
    width: calc(100% - 200px);
    margin: 0;
    min-height: 100vh;
    background-color: #d0d0d0;
    float: left;
}

.card{
    background-color: white;
    padding: 10px;
    box-shadow: 3px 3px #888888;
    margin: 10px;
}
.sidebar{
    background-color: #015b9d;
    border-right: 1px solid #888888;
    width: 200px;
    height: 100vh;
    float: left;
    padding-top: 30px;
    color: white;
}
.loading-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(128, 128, 128, 0.562);
    .loading{
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 50%;
        margin-top: -50px;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        border: 5px solid black;
        border-top: none;
        border-bottom: none;
        animation: spin 2s linear infinite;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}