$color_success : #08be9d;
$color_danger : #d9163e;

.notify-success{
	background: $color_success;
	border-color: $color_success;
	border-radius: 5px;
	color:#fff;


}

.notify-fail{
	background: $color_danger;
	border-color: $color_danger;
	border-radius: 5px;
	color:#fff;
}