<div class='fields-modal-tmplate'>
        <div class="modal-header">
           <h3 class="modal-title" id="modal-title">Create Category</h3>
           <button class="btn btn-warning pull-right" type="button" ng-click="cancel()">Cancel</button>
        </div>
       <div class="modal-body" id="modal-body">
           <div class="col-sm-6 col-sm-offset-3">
                <div class="form-group">
                    <label for="name">Name: </label>
                    <input type="text" class="form-control" ng-model="newCategory.name" />
                </div>
            </div> 
       </div>
       <div class="modal-footer">
           <button class="btn btn-primary" type="button" ng-click="createCategory()">Create</button>
           <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
       </div>
   </div>
   